$greyColor:#eeeeee;
$blueDarkColor:#0093a4;
$blueColor:#4ac4d5;
$blueLightColor:#84f7ff;
$redColor:#ed1c24;
$avoColor:#d7df21;
$orangeColor:#fcb040;
$greenColor:#64DD17;

$primary:#333a4d;
$primaryDark:#20242f;
$secondary:#242a38;
$accentDark:#cc485f;
$accent:#fd875f;